<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi mercado liebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
    <div class="arriba">
            <div class="milogo">
              <a href="/"> <img src="/img/logo.svg" alt="logo" width="200"></a>
              </div> 
              <div class="search-bar">
                <form method="get" class="search-bar">
                 <input class="busqueda" type="text" placeholder="Buscar productos, marcas...">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
              </div>
            </div>
            <h5 class="pagos">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h5>
        </div>
        
    </div>
        <nav class="menu">
            <div class="principal">
            <ul>
                <li> <a href="#ofertas">Ofertas</a></li>
                <li><a href="#tiendas">Tiendas oficiales</a></li>
                <li><a href="#vender">Vender</a></li>
                <li><a href="#ayuda">Ayuda</a></li>
            </ul>
            </div>
            <div class="secundario">
            <ul>
                <li><a href="/register">Crea tu cuenta <i class="fa-regular fa-address-card"></i> </a> </li>
                <li> <a href="/login">Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i> </a> </li>
                <li><a href="#miscompras">Mis compras <i class="fa-solid fa-basket-shopping"></i> </a> </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
         </div>
        
    </header>

    <main>
        <div class="mibanner">
            <img src="/img/img-home-banner.jpg" alt="home banner" width="300">
        </div>
        <h3 class="señaladores">Basado en tu última visita</h3>
    <section>
        <div class="articles">
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera moulinex" width="200">
                    <div class="camion-envio">
                        <i class="fa-solid fa-truck"></i>
                   </div>
                <p class="sale">40% OFF</p>
                <p class="precio">$6.770</p>
                <h3> Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="macbook pro" width="200">
                    <div class="camion-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                <p class="sale">20% OFF</p>
                <p class="precio">$230.000</p>
                <h3> MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="samsung galasy s10" width="200">
                    <div class="camion-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                <p class="sale">10% OFF</p>
                <p class="precio">$70.500</p>
                <h3> Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" alt="smartv samsung" width="200">
                    <div class="camion-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                <p class="sale">5% OFF</p>
                <p class="precio">$23.200</p>
                <h3> SmartTv Samsung 43"</h3>
            </article>
        </div>
        <h3 class="señaladores">Ofertas</h3>
    </section>
    <section>
        <div class="products">
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera moulinex" width="200">
                <div class="camion-envio">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p>40% OFF</p>
                <p>$6.770</p>
                <h3> Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="macbook pro" width="200">
                <div class="camion-envio">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p>20% OFF</p>
                <p>$230.000</p>
                <h3> MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="samsung galasy s10" width="200">
                <div class="camion-envio">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p>10% OFF</p>
                <p>$70.500</p>
                <h3> Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" alt="smartv samsung" width="200">
                <div class="camion-envio">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p>5% OFF</p>
                <p>$23.200</p>
                <h3> SmartTv Samsung 43"</h3>
            </article>
        </div>
    </section>
    </main>

    <footer>
        <section>
            <i class="fa-solid fa-credit-card"  style="color:blue"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"  style="color:blue"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield" style="color:blue"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
      
     <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        

    </footer>

</body>
</html>